{% extends 'base.html.twig' %}

{% block title %}Hello HelloWorldController!{% endblock %}

{# Commentaires Twig #}
{% block body %}
<div>
    <!-- Commentaire HTML -->
    <h1>Hello {{ controller_name }}! ✅</h1>
    <p> 1 + 1 = {{ 1 + 1 }}</p>
    <p>Exemple avec objet DateTime {{ exemple_datetime | date('c') }}</p>
</div>
{% endblock %}
